<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinnaMinni - Contact Us</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/contactus.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h1 class="mt-2">MinnaMinni</h1>
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership, pay only once!
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>
       

            <div class="row justify-content-lg-start my-2">
                <div class="col-lg-6">
                    <form action="">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" placeholder="my@email.com" class="form-control" />
                        <div class="form-floating my-5">
                            <input type="name" id="name" placeholder="e.g. Dawid" class="form-control" />
                            <label for="name" class="form-label">Name:</label>
                        </div>
                        <label for="subject" class="form=label">Subject</label>
                        <select name="subject" id="subject" class="form-select">
                            <option value="pricing">Pricing</option>
                            <option value="technical" selected>Technical question</option>
                            <option value="other">Other</option>
                        </select>

                        <div class="form-floating my-5">
                            <textarea name="query" id="query" style="height: 150px" class="form-control"
                                placeholder="Write a message"></textarea>

                            <label for="query">Write a message</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Send!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <div class="container">
    {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>