<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matri Mon Grooms</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Monay&Molay</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ads.html">Ads</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/grooms.html">Grooms Wanted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/brides.html">Brides Wanted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact.html">Contact</a>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="https://picsum.photos/id/233/600/400" alt="" class="img-fluid" />
                </div>
                <div class="col-md-5">
                    <h1 class="mt-5">Matri Mon - Grooms Wanted</h1>
                    <p class="mt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                        veniam suscipit accusantium quibusdam dicta nesciunt esse? Id
                        itaque incidunt sint distinctio voluptatem tempore tempora aliquam
                        sunt, vel, repellat velit. Vel!
                    </p>
                    <button type="button" class="btn btn-primary mt-3">
                        Place your Ad now!
                    </button>
                </div>
            </div>
            <div class="row my-5">
                <div class="list-group">
                    {{ range .Ads }}
                    {{ block "ads-list-element" .}}
                    <div class="col-md-8">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{.Section}} - {{.Name}} - {{.Religiion}}, {{.Cast}} </h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">{{.Preferences}}</p>
                        <small>{{.Description}} Job Details: {{.JobType}} {{.Job }} Education: {{.Education}}</small>
                        <small>Ad: {{.ID}}</small>
                    </a>
        
                    </div>
                    {{end}}
                    {{end}}

                </div>
            </div>
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Copyrights
                <a href="/">Matri-go</a></span>
        </div>
    </footer>

</body>

</html>