<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matri Mon Grooms</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="/static/images/molay2.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-5">
                    <h1 class="mt-5">Matri Mon - Grooms Wanted</h1>
                    <p class="mt-4">
                    </p>
                    <button type="button" class="btn btn-primary mt-3">
                        Place your Ad now!
                    </button>
                </div>
            </div>
            <div class="row my-5">
                <div class="list-group">
                    {{ range .Ads }}
                    {{ block "ads-list-element" .}}
                    <div class="col-md-8">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{.Section}} - {{.Name}} - {{.Religiion}}, {{.Cast}} </h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="mb-1">{{.Preferences}}</p>
                        <small>{{.Description}} Job Details: {{.JobType}} {{.Job }} Education: {{.Education}}</small>
                        <small>Ad: {{.ID}}</small>
                    </a>
        
                    </div>
                    {{end}}
                    {{end}}

                </div>
            </div>
        </div>
    </main>
    {{ template "footerHTML" . }}

</body>

</html>