<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinnaMinni - Grooms Wanted</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/molay2.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h3 class="mt-2">Grooms Wanted</h3>
                    {{if ne .User.ID 0}}
                    <div class="bg-info-subtle col-md-3 px-2 my-1 py-1">
                        Welcome {{.User.Name}} !!

                    </div>
                    {{end}}
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership, pay only once!
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>

            <!-- <div class="list-group "> -->


            <!-- <div class="col-sm"> -->
            <div class="row">
                <div class="col-md-9">
                    <div class="card-deck">

                        {{ range .AdMap.Ads }}
                        {{ block "ads-list-element" .}}

                        <div class="card">

                            <div class="card-body">

                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-0">{{.Section}} - {{.Religiion}}, {{.Cast}} </h5>
                                    <small>3 Views</small>
                                </div>

                                <p class="mb-0">{{.Preferences}}</p>
                                <p class="mb-0">{{.Description}} </p>
                                <p class="mb-0"><b>Job: </b>{{.JobType}} {{.Job }} </p>
                                <p class="mb-0"><b>Education: </b>{{.Education}}</p>
                                <p class="text-muted">Ad ID: {{.ID}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}

                    </div>
                </div>
            </div>

        </div>
    </main>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>