<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinnaMinni - Home</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/molay3.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h1 class="mt-2">MinnaMinni</h1>
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership, pay only once!
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <div class="bg-dark-subtle text-white px-2 my-3 py-3 card text-center">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search using any key word" aria-label="Search" />
                            <button class="btn btn-primary" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col">
                    <div class="card-group">
                        <div class="card">

                            <div class="card-body">
                                <h5 class="card-title">Why Us?</h5>
                                <p class="card-text">
                                    Because its economical and easy to find your match.
                                </p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Simple Plan</h5>
                                <p class="card-text">
                                    Pay only INR 500.00 for lifetime. You can delete or disable your ad when the deed is done:)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
<!--     <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Copyrights
                <a href="/">Matri-go</a></span>
        </div>
    </footer> -->
    <div class="container">
    {{ template "footerHTML" . }}
    </div>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>