<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matri-mon</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Monay&Molay</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/matri.html">Ads</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Login</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row mt-4 g-4">
            <div class="col-8">
                <h1 class="mb-4">Matrimony List</h1>
                <ul class="list-group fs-5 me-5" id="film-list">
                    {{ range .Films }}
                    {{ block "matri-list-element" .}}
                    <li class="list-group-item bg-primary text-white">{{ .Title }} - {{ .Director }}</li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="col-4">
                <h1 class="mb-4">Add</h1>
                <form hx-post="/films" hx-target="#film-list" hx-swap="beforeend" hx-indicator="#spinner">
                    <div class="mb-2">
                        <label for="film-title">Title</label>
                        <input type="text" name="title" id="film-title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="film-director">Director</label>
                        <input type="text" name="director" id="film-director" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status"
                            aria-hidden="true"></span>
                        Submit
                    </button>
                </form>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special Deals on Premium</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">See the deals</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Verify your ads</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go Verify</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>