{{ define "menuHTML" }}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/ads.html">Place Ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/grooms.html">Grooms Wanted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="/brides.html">Brides Wanted</a>
                    </li>
                    {{if ne .User.Name ""}}
                    <li class="nav-item">
                        <a class="nav-link"   href="/login.html">Logout</a>
                    </li>
                    {{else}}
        
                    <li class="nav-item">
                        <a class="nav-link"   href="/login.html">Login</a>
                    </li>
                    {{end}}

                </ul>
            </div>
{{ end }}