<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MinnaMinni - Place Ads</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/htmx.min.js" type="application/javascript"></script>
</head>

<body>
    {{ template "headerHTML" . }}
    <main class="my-2">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="/static/images/placeads.jpg" alt="" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <h1 class="mt-2">MinnaMinni</h1>
                    <p class="mt-3">
                        Best place to find your match, no hassle of membership, pay only once!
                        Place your ad and wait for the calls to come in!
                    </p>
                    <a href="/ads.html" class="btn btn-success"> Place your Ads now!!</a>
                </div>
            </div>
            <div class="container my-3 bg-dark-subtle">
                <form hx-post="/ads">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <h2 class="text-center text-bg-dark">Place your ads</h2>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-start">Enter the prospective grooms or brides details. All ads will be subject to review. 
                                Any misrepresentation will be reported to the authorities. We log all IPs and other details to prevent misuse of the service.
                                Please note that you agree to the terms and conditions upon submitting an ad to this site.
                            </p>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="name-full" class="form-label">Full Name</label>
                            <input type="text" class="form-control" name="Name" id="name-full"
                                placeholder="Enter your full name." required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="Email" id="email"
                                placeholder="Enter your email." required>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="ad-descripion" class="form-label">Ad Description</label>
                            <textarea class="form-control" id="ad-descripion" rows="3"  name="Description"></textarea>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label for="State" class="form-label">Age</label>
                            <input type="number" class="form-control" name="Age" id="age" placeholder="Enter your age."
                                required>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label for="State" class="form-label">Height</label>
                            <input type="number" class="form-control" name="Height" id="height" placeholder="Enter your height in centimeters"
                                required>
                        </div>

                        <div class="col-sm-4 form-group">
                            <label for="Religion" class="form-label">Religion</label>
                            <select class="form-control custom-select browser-default" name="Religiion">
                                <option value="Christian">Christian</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Muslim">Muslim</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label for="Cast" class="form-label">Cast/Denomination</label>
                            <input type="text" class="form-control" name="Cast" id="cast-1"
                                placeholder="Add your caste or denomination like Catholic for Christian" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="education" class="form-label">Education</label>
                            <input type="text" class="form-control" id="education" name="Education" placeholder="Enter your education">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label for="job" class="form-label">Job</label>
                            <input type="text" name="Job" class="form-control" id="job"
                                placeholder="Enter your job Description" required>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label for="sex" class="form-label">Gender</label>
                            <select id="sex" class="form-control browser-default custom-select" name="Gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                        <div class="col-sm-2 form-group">
                            <label for="cod" class="form-label">Select Ad Option</label>
                            <select class="form-control browser-default custom-select" name="Section">
                                <option value="Groom Wanted" selected>Groom Wanted
                                </option>
                                <option value="Bride Wanted">Bride Wanted</option>
                            </select>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="tel" class="form-label">Phone</label>
                            <input type="tel" name="Phone1" class="form-control" id="tel"
                                placeholder="Enter Your Contact Number." required>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label for="State" class="form-label">UserID</label>
                            <input type="number" class="form-control" name="UserID" id="height" placeholder="Enter your UserID"
                                required>
                        </div>
                        <div class="col-sm-12">
                            <input type="checkbox" class="form-check d-inline" name="terms" id="chb" required><label for="chb"
                                class="form-check-label">&nbsp;I accept all terms and conditions.
                            </label>
                        </div>
              
                        <div class="col-sm-12 form-group mb-2 my-2">
                            <button class="btn btn-primary float-right">Submit</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </main>
    {{ template "footerHTML" . }}
    <script src="/static/bootstrap.bundle.min.js" type="application/javascript"></script>
</body>

</html>